/*!
 * Start Bootstrap - Full Slider (https://startbootstrap.com/template-overviews/full-slider)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-full-slider/blob/master/LICENSE)
 */


 /* font */
html {
  scroll-behavior: smooth;
  padding-top: 3cm;
}

@font-face{
  font-family: 'logo';
    src: url("../vendor/fonts/fonts/Martine\ Bold.otf");
    font-weight: normal;
    font-style: normal;
}



@font-face{
  font-family: 'myFont';
    src: url("../vendor/fonts/Asiyah.ttf");
    
    font-weight: normal;
    font-style: normal;
}

#headers img{
  width: 4cm;
  height: 1cm;
}

#headers .navbar-brand h2{
  padding-top: 10px;
  font-family: 'logo';
  font-weight: bold;
  color: #fff;
}

.pink-btn {
  background: #F82626;
  color: #fff;
  padding: 13px 45px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;-webkit-transition: .3s;transition: .3s;
}

.pink-btn:hover{
  color : #000;
}

#headers .dropdown-menu{
  background-color: #555;
}

#headers .dropdown-menu a{
  color: #fff;
}

 /* Header */
.carousel-item:before{
    content:"";
    display:block;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index:-1;
    background-color: rgba(26, 29, 23, 0.253);
}


.carousel-item {
  height: 100vh;
  min-height: 400px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;

  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}

.carousel-caption{
  padding-bottom: 200px;
}

.carousel-caption h3{
  font-weight: bold;
  font-size: 70px;
  font-family: 'myFont';
  color: #fff;
}

.carousel-caption a{
  margin-top: 30px;
}


body {
  background: #fafafa;
  color: #444;
  margin-top: -110px;
}

/* Navbar */


.navbar {
  background : transparent;
	border-bottom: none;
	padding: 30px 0;
  transition-duration: 0.6s;
  opacity: 0.7;
}

.navbar-expand-lg .navbar-brand,
.navbar-expand-lg .navbar-nav>li>a {
  color: #183532;
  font-size: 25px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #002079;
  font-size: 25px;
}


.navbar-dark .navbar-brand{
  font-size: 25px;
}

.navbar-dark .navbar-brand:hover{
  color: #002079;
}

/* jQuery Styles
===================================*/
.navbar-scroll {
	background: #656565;
	padding: 0;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
  opacity: 1;
}

.nav-dropdown-scroll {
	background: #e7eaea;
	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}



.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
}


.navbar-dark .navbar-brand{
  font-weight: bold;
  color: black;
}

.section-header h2{
  font-family: inherit;
  font-weight: bold;
  color: #000;
  padding-bottom: 20px;
  position: relative;
}

.section-header h2::before {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 7px;
  background: #CE3341;
  bottom: 0;
  left: 0;
}


.section-header{
  padding-top: 40px;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: bold;
}
/* Logo css */
#logo{
  padding: 70px 0 30px 0;
  /* height: 12cm; */
  
  /* padding-bottom: 2cml */
}

#logo .box-services-hexagon-text{
  font-size: 15px;
  /* padding-bottom: 5px; */

}

#logo .box-services-hexagon{
  margin-bottom: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.1);
  background: #fff;
  transition: 0.4s;

}

#logo .box-services-hexagon:before{
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  /* width: 6cm; */
}

#logo a{
  color: #000;
  font-size: 25px;
  font-weight: bold;
}

#logo a:hover{
  color: #2DA2C8;
}


#logo img{
  padding-top: 5px;
  width: 5cm;
}


/* About css */
#about{
  padding: 70px 0 30px 0;
  background: #333;
  /* height: 17cm; */
}

#about a{
  color: #fff;
}

#about h2{
  color : #fff;
}


#about .panel-title{
    border-bottom: 1px solid #ccc;
    color: #222;
    text-transform: uppercase;
    font-weight: 400;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.panel-group .panel {
  border-radius: 0;
  margin-bottom: 0px;
  box-shadow: none;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

#about .panel-title a:hover{
  color: #000;
}

#about .panel-default {
  border-color: transparent;
}

#about .panel-title a{
    display: block;
    text-decoration: none;
    padding-bottom: 10px;
}

#about .panel-default .in{
  padding-left:10px;
  margin-left: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; 
}

.panel-title a span{
  margin-right: 5px;
}

#about .panel-body{
  color : #fff;
  font-weight: 400;
  padding-bottom: 10px;
}




#about .row {
  padding-top: 1cm;
}

#about .carousel-item{
  height: 4cm;
  background: no-repeat;
  border-style: ridge;
  border-color: #fff;
  border-width: 10px;  
}


.list-group-flush .list-group-item{
  padding-bottom: 2px;
  padding-top: 2px;
  padding-right: 10px;
  padding-left: 10px;
  border-top-width: 1px;
  border-bottom: #000;
}

/* Team */

#team{
  padding-bottom: 2cm;
}

#team .stage-outer {
  box-sizing: content-box;
  padding: 20px 30px 20px 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 300px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

@media (max-width: 767px) {
  #team .team-item {
    margin: 30px 10px;
  }
}

#team .team-item .team-img{
  width: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

#team .team-item{
  padding-top: 2cm;
  box-sizing: content-box;
  padding: 20px 30px 20px 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 300px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
}

#team .team-item h3 {
  padding-top: 1cm;
  font-family: fantasy;
}

#team .team-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

#team .team-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#team .team-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#team .owl-nav, #testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#team .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#team .owl-dot.active {
  background-color: #CE3341;
}


#team img{
  width: 12cm;
  height: 8cm;
  padding-top: 0.5cm;
}
/* Contact */

#contact{
  padding: 70px 0 30px 0;
  background: #fff;
}

#contact .contact-info{
  margin-bottom: 20px;
  text-align: center;
  padding: 30px;
}

#contact .contact-info address, #contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3{
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

#contact .contact-info .contact-icon{
  padding-bottom: 20px;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-address, #contact .contact-email, #contact .contact-line{
  margin-bottom: 20px;
}

#contact .form button[type="submit"]{
  background: #CE3341;
  border: 0;
  border-radius: 3px;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

#contact .form button[type="submit"]{
  background: #2dc899;
}

#contact .contact-info{
  line-height: 1;
  color: #555;
}


@media (min-width : 768px){
  #contact .contact-info .contact-email{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
}

@media (min-width : 768px){
  #contact .contact-address, #contact .contact-email, #contact .contact-line{
    padding: 20px 0;
  } 
}


/* Footer */

#footer{
  padding: 40px;
  background:#333;
  /* height: 8cm; */
}

#footer a{
  color: #ffff;
  font-weight: 200;
}

#footer .footer-menu-1 h1{
  font-family: 'logo';
}

#footer .footer-menu-2 h2{
  font-family: 'logo';
  color: #fff;
  padding-bottom: 20px;
  position: relative;
}



#footer .footer-menu-1{
  text-align: left;
  padding-left: 130px;
  color: #E7E7E7;
}
#footer .footer-menu-2{
  text-align: left;
  padding-left: 130px;
}

#footer .footer-menu-2 .menu{
  color: #fff;
}

#footer .fa, #footer .fas{
  padding-bottom: 15px;
}

#footer .footer-menu-2 .menu{
  margin-bottom: 20px;
}

#footer .social-media {
  padding: 0 0 0 20px;
}

#footer .fab{
  color: #fff;
  font-size: 20px;
}

#footer .fab:hover{
  color: #2DA2C8;
}


/* Zoom Jquery */

.zoomify {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.zoomify.zoomed {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  z-index: 1501;
}

.zoomify-shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1500;
  background: rgba(0, 0, 0 , .3);
  opacity: 0;
}

.zoomify-shadow.zoomed {
  opacity: 1;
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

#owl-demo .item{
  margin: 3cm;
}


.scrolltotop{
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height:50px ;
  background: red;
  opacity: 0.5;
  color: white;
  border: none;
  cursor: pointer;
}


/* Orders destination */
.destination-form{
  padding-top: 1cm;
}

#form-dest{
  background-color: #fff;
}

.slider-bottom-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-bottom-menu ul li {
  display: inline;
}
.slider-bottom-menu {
  margin-bottom: 50px;
}
.slider-bottom-menu ul li a {
	padding: 15px;
	color: #484848;
	display: inline-block;
	width: 120px;
	margin-right: 20px;
	box-shadow: 0 0 40px #f2f2f2;
	text-align: center;
	font-weight: 700;
}
.slider-bottom-menu ul li:last-child a {
  margin: 0;
}
.slider-bottom-form-hp1 .nice-select, .slider-bottom-form-hp1 input {
	box-shadow: 0 0 40px #f2f2f2;
}
.slider-bottom-single-gallery{border-radius: 10px;overflow: hidden;}

.slider-bottom-gallery-hp1 .owl-dots {
  position: absolute;
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 25px;bottom: -95px;
}
.slider-bottom-gallery-hp1 .owl-dots .owl-dot {
	width: 40%;
	height: auto;
	background-color: #ddd;
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
}
.slider-bottom-gallery-hp1 .owl-dots .owl-dot.active {
  background: #D82460;
}
.slider-bottom-gallery-hp1 .owl-dots .owl-dot img {
	border-radius: 10px;
}

.slider-bottom-gallery-hp1 .owl-nav, .hp1-top-destination-carousel .owl-nav, .sea-tours-carousel-hp1-columns .owl-nav, .team-member-carousel-about .owl-nav {
  position: absolute;
  top: 107%;
  width: 100%;
  z-index: 99;
}
.hp1-top-destination-carousel .owl-nav,.sea-tours-carousel-hp1-columns .owl-nav,.team-member-carousel-about .owl-nav{top: 50%;margin-top: -30px;}
.slider-bottom-gallery-hp1 .owl-nav div, .hp1-top-destination-carousel .owl-nav div, .sea-tours-carousel-hp1-columns .owl-nav div, .team-member-carousel-about .owl-nav div {
  display: inline;
  position: absolute;
  font-size: 25px;
  color: #d8075f;
}
.hp1-top-destination-carousel .owl-nav div,.sea-tours-carousel-hp1-columns .owl-nav div,.team-member-carousel-about .owl-nav div{font-size: 50px;line-height: 60px;}
.slider-bottom-gallery-hp1, .hp1-top-destination-carousel, .sea-tours-carousel-hp1-columns, .team-member-carousel-about {
  position: relative;
}
.slider-bottom-gallery-hp1 .owl-prev, .hp1-top-destination-carousel .owl-prev, .team-member-carousel-about .owl-prev, .sea-tours-carousel-hp1-columns .owl-prev {
  left: 18px;
  right: auto;
}

.slider-bottom-gallery-hp1 .owl-next, .hp1-top-destination-carousel .owl-next, .team-member-carousel-about .owl-next, .sea-tours-carousel-hp1-columns .owl-next {
  right: 18px;
  left: auto;
}
.hp1-top-destination-carousel .owl-prev,.team-member-carousel-about .owl-prev,.sea-tours-carousel-hp1-columns .owl-prev{left: -30px;}
.hp1-top-destination-carousel .owl-next,.team-member-carousel-about .owl-next,.sea-tours-carousel-hp1-columns .owl-next{right: -30px;}

.slider-bottom-menu .nav-tabs {
  border: 0;
}
.slider-bottom-menu .nav-tabs li.active a {
  border-left: 0;border-right: 0;border-bottom: 1px solid #d8085f;border-top: 0; 
}
.slider-bottom-menu .nav-tabs a:hover, .slider-bottom-menu .nav-tabs a:focus {
  background: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
.slider-bottom-menu .nav-tabs a {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
}
.slider-bottom-menu ul li:last-child a:hover {
  border-bottom: 1px solid #d8085f;
}

#destination {
  background-color: #fff;
}
#destination .panel, #destination .tab-content{
  padding-top: 1.5cm;
}



.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.map-container-3{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:10cm;
  }

  .map-container-3 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  #destination .telephone input{
    margin-top : 14px;
  }

  #destination .address textarea{
    height: 4cm;
  }

/* Login form */

#login-form input[type=text], #login-form input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


#login-form button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#login-form button:hover{
  opacity: 0.8;
}

#login-form .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

#login-form .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

#login-form img.avatar {
  width: 40%;
  border-radius: 50%;
}

#login-form .container {
  padding: 16px;
}

#login-form span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
#login-form .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
#login-form .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
#login-form .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

#login-form .close:hover, #login-form .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
#login-form .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* loader css */
.preloader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  top : 30%;
  left : 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* page destination */
.jumbotron {
  height: 50vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(22, 15, 15, 0.2);
}



#trip{
  padding-bottom: 2cm;
  padding-top: 2cm;
}

.destination .detail{
  padding-bottom: 30px;
}

#trip h1{
  font-family: 'logo';
}

/* star */
.checked {
  color: orange;
}

/* button destination */
.button_cont a{
  width: 110px;
  height: 45px;
}



#trip .content_price, #trip .caption{
  padding-top: 15px;
}

#trip img{
  width: 400px;
  height: 282px;
  text-align: right;
}

#trip button {
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: left;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 2px;
}

#trip button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

#trip button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

#trip .destinasi-information{
  padding-bottom: 1cm;
}

.offer_name
{
	position: absolute;
	left: 0;
	bottom: 27px;
	width: 180px;
	height: 33px;
	background: #587bbd;
	overflow: hidden;
}
.offer_name a
{
	display: block;
	font-size: 16px;
	font-weight: 700;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 35px;
	padding-left: 22px;
}

#information{
  padding-top: 2cm;
  padding-bottom: 2cm;
}

/* Detail Information */
#information .image-destination img{
  width: 950px;
  height: 450px;
}

#information .team-item img{
  width: 180px;
  height: 80px;
}

#information i{
  font-size: 30px;
}

#information .fab {
  width: 40px;
}

#information .team-item{
  border: 10px solid transparent;
  border-image: 5px;
}

.align-items-center {
  -ms-flex-align: center!important;
  align-items: center!important;
}

.hotel_image img{
  width: 100%;
  vertical-align: middle;
  border-style: none;
  margin: 0;
  padding-top: 30px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;

}



.hotel_review_container {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 209px;
  height: 112px;
  background: #FFFFFF;
  visibility: hidden;
  opacity: 0;
  animation: review_anim 1s 0.5s forwards;
}

.hotel_review_content{
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.hotel_review_subtitle{
  font-size: 12px;
  font-weight: 600;
  color: #929191;
  margin-top: 1px;
}

.hotel_review_rating{
  display: inline-block;
    width: 62px;
    height: 57px;
    font-size: 28px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 57px;
    background: #fa9e1b;
    vertical-align: middle;
    border-radius: 45%;
}

.button {
  display: inline-block;
  height: 53px;
  border-radius: 27px;
  overflow: hidden;
  z-index: 1;
}

.button_whatsapp {
  border: 1px solid #25d366;
}

.button a {
  display: block;
  font-size: 13px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  line-height: 53px;
  padding-left: 46px;
  padding-right: 46px;
  white-space: nowrap;
  z-index: 2;
}

.button_phone {
  border: 1px solid #000;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.single_listing{
  padding-bottom: 2cm;
}

/* owl carousel */

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  padding-top: 30px;
}

.owl-item{
  width: 79px;
  margin-right: 16px
}

.contact_information{
  padding-bottom: 2cm;
  background: linear-gradient(to top right, rgb(241, 239, 121), #70666a);
}

.contact_location{
  padding-top: 2cm;
  padding-bottom: 2cm;
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
}

.input_field{
  height: 30px;
    font-size: 12px;
    font-weight: 400;
    border: none;
    outline: none;
    background: transparent;
    color: #FFFFFF;
    border-bottom: solid 2px #e1e1e1;
}

.contact_form_name{
    width: 100%;
    margin-right: 30px;
}

.form_submit_button {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 53px;
  padding-left: 29px;
  padding-right: 29px;
  background: #70666a;
  -webkit-transform: translateY(15px);
  -moz-transform: translateY(15px);
  -ms-transform: translateY(15px);
  -o-transform: translateY(15px);
  transform: translateY(15px);
  border: none;
  outline: none;
  margin-top: 37px;
  cursor: pointer;
}