.carousel-item {
  height: 100vh;
  min-height: 400px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;

  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}